# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.db
*.pot
*.pyc

# Virtual environments
venv/
env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Static/media
staticfiles/
media/

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
