{% extends "main/base.html" %}

{% block title %}
Profile
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h2>Witaj, {{ user.username }}!</h2>
    <h2>Twój adres email: {{ user.email }}</h2>
    <h3>Twoje zgłoszenia:</h3>
    {% if tickets %}
        <ul>
            {% for ticket in tickets %}
                <li>
                    <b>{{ ticket.topic }}</b>
                    <p>{{ ticket.message }}<br>
                    Status - {{ ticket.category.name }}<br><p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nie masz żadnych zgłoszeń.</p>
    {% endif %}
    <form method="post" class="form-group" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Wyloguj się</button>
    </form>
{% endblock %}